.mat-dialog-content {
    padding: 32px;
    position: relative;
    z-index: 1;
}

mat-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}