<mat-card class="user-detail-header">

    <img src="assets/img/profile.jpg" alt="profile">

    <div class="user-details">
        <mat-menu #userMenu="matMenu">
            <ng-template matMenuContent>
              <button mat-menu-item (click)="editUserDetail()">Edit</button>
            </ng-template>
          </mat-menu>
        <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="userMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <h2>{{ userData[0].firstName}} {{ userData[0].lastName }}</h2>
        {{ userData[0].email }}
    </div>
</mat-card>

<mat-card class="mt-32">
    <mat-card-header>
        <mat-menu #addressMenu="matMenu">
            <ng-template matMenuContent>
              <button mat-menu-item (click)="editAdress()">Edit</button>
            </ng-template>
          </mat-menu>
        <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="addressMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-card-title>Address</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        {{ userData[0].street }} <br>
        {{ userData[0].zipCode }} {{ userData[0].city }}
    </mat-card-content>
</mat-card>
