
<mat-card appearance="outlined" class="user-table">
    <table>
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>City</th>
        </tr>
        @for (user of allUsers; track $index) {
        <tr [routerLink]="['/user/' + user.userID]">
            <td>{{ user.firstName }} {{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.city }}</td>
        </tr>
        }
    </table>
</mat-card>


<button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" matTooltip="Add user">
    <mat-icon>add</mat-icon>
</button>
